.container {
  background-color: var(--yellow);
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
}

.leftContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  padding: 10rem 0rem;
}

.copy {
  font-size: 1.8rem;
  width: 65%;
  font-weight: 500;
}

.btnContainer {
  margin-top: 2rem;
}

.right {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Optional: stack on small screens */
@media screen and (max-width: 1268px) {
  .content {
    grid-template-columns: 1fr;
  }

  .heading {
    width: 80%;
  }

  .copy {
    width: 60%;
  }

  .right {
    min-height: 40vh;
  }
}

@media screen and (max-width: 768px) {
  .heading,
  .copy {
    width: 95%;
    text-align: center;
  }

  .btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .heading,
  .copy {
    text-align: left;
    width: 100%;
  }

  .br {
    display: none;
  }

  .leftContent {
    gap: 1.5rem;
  }

  .copy {
    width: 95%;
    font-size: 2rem;
  }

  .btnContainer {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .right {
    min-height: 50vh;
  }
}
