.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.node {
  width: 20px;
  height: 20px;
  background-color: var(--tan);
}

.large {
  width: 45px;
  height: 45px;
}

.node:nth-child(4n) {
  background-color: transparent;
}

.black {
  background-color: var(--black);
}

.yellow {
  background-color: var(--yellow);
}

@media screen and (max-width: 568px) {
  .large {
    width: 25px;
    height: 25px;
  }
}
