.container {
  background-color: var(--black);
  padding: 10rem 0rem;
  position: relative;
}

.digitalBox {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
}

.heading {
  color: var(--tan);
}

.spanImage {
  vertical-align: middle;
  object-fit: cover;
  background-image: url(/images/road.jpg);
  background-position: 50% 100%;
  background-size: cover;
  border-radius: 40px;
  width: 90px;
  height: 45px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.bottom {
  margin-top: 10rem;
}

.mapData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  background-color: var(--lightBlack);
  padding: 3rem;
  border-radius: 10px;
}

.icon {
  color: var(--yellow);
  font-size: 5rem;
}

.title {
  font-size: 2.2rem;
  color: var(--tan);
}

.desc {
  color: var(--gray);
  opacity: 0.6;
}

@media screen and (max-width: 1268px) {
  .mapData {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .container {
    padding-top: 20rem;
  }

  .heading {
    text-align: center;
  }

  .bottom {
    margin-top: 5rem;
  }

  .mapData {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}
